.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    }


    /*Proyecto 4*/
.fondoNegro{        
    background-color: black;
    color: White;        
    }

input{
    width: 100px;
    height: 40px;
    margin-left: 250px;
    border-radius:10%;
}   
ul{
    margin-left:200px
} 
.primerbtn{
    width: 100px;
    margin-left: 250px;
    border-radius: 10%;
}

#proyecto1{
    margin-left: 150px;
}   

.img{
    width: 200px;
    border-radius: 10%;
}

.contador{
    width: 200px;
    font-size: 10rem;
}
#botonColor, .boton{
    width:auto;
    margin-left: 70px;
    border-radius: 20%;
}












@media screen and (max-width: 700px)
{
.contUno{
    margin-top: 50px;
}

ul{
    margin-left: 35px;
}
input{    
    margin-left: 100px;       
} 

#proyecto1{
    margin-left: 0px;
}
.primerbtn{
    width: 100px;
    margin-left:100px;
    border-radius: 10%;
}
.img{
    margin-left: 30px;
    border-radius: 10%;
}
#botonColor{
    margin-left: 50px;
}
}





@media (min-width: 768px) {
    .bd-placeholder-img-lg {
        font-size: 3.5rem;
    }
   
}