
.bienvenida{
    margin: 100px 0 10px 0;
    margin-top:100px;
    font-size: 2rem;
    text-align: center;
    padding: 10px;
}


#infoFinal{
    width: 50%;
    height: 50px;
    text-align: center;
    font-size: 1rem;
}

#edad, #aportes, #genero {
    width: 40px;
    
}
input{
    margin: 5px;
    border-radius: 5px;    
}

input:focus{
    background-color:rgb(154, 185, 218);
}
.container{
    width:50%;
    margin-bottom: 20px;
}


@media screen and (max-width: 500px) {
    .container{
        width:70%;
        margin-bottom: 20px;
        
    }
    input{
        margin: 10px;
    }

    #infoFinal{
        margin-bottom: 110px;
       
    }
}